<% var title = 'Calendrier' %>
<% include head %>

<h1>Liste des dates</h1>
<%- message %>


<ul>
  <% dates.forEach(function(noplanningdate) { %>
  <li>
      <form action="/deletedate" method="post">
        <p>
          <input type="text" name="date" readonly value=<%= noplanningdate.date %>>
          <input type="submit" value="Delete">
        </p>
      </form>
  </li>
  <% }); %>
</ul>

<form action="/date" method="post">
  <p>
    <label>Date :</label>
    <input type="text" name="date">
  </p>
  <p>
    <input type="submit" value="Valider">
  </p>
</form>

<% include foot %>